<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Human Resource Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-danger navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/home}">Human Resource Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center" style="padding-top: 30px;"> Update Staff </h1>
				<div class = "card-body">
					<form th:action="@{/staffs/{id} (id=${staff.id})}" th:object = "${staff}" method="POST">
						<div class ="form-group">
							<label> Staff First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Staff First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Staff Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Staff Last Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Staff Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Staff Email" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-warning">
								Save
							</button>
							<a type="button" class = "btn btn-danger" th:href="@{/staffs}">
								Cancel
							</a>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>