<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Human Resource Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-danger navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/home}">Human Resource Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>

<div class="container">
    <div class="row">
        <h1 style="padding-top: 30px; padding-bottom:20px;"> List Staff </h1>
    </div>

    <div th:if="${adminRole}">
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/staffs/new}" class="btn btn-primary btn-sm mb-3"> Add Staff</a>
                <a th:href="@{/home}" class="btn btn-dark btn-sm mb-3"> Back </a>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Staff ID</th>
            <th> Staff Name</th>
            <th> Staff Email</th>

            <div th:if="${adminRole}">
            <th> Actions</th>
            </div>
        </tr>
        </thead>

        <tbody>
        <tr th:each="staff: ${staffs}">
            <td th:text="${staff.id}"></td>
            <td th:text="${staff.firstName} + ' ' + ${staff.lastName}"></td>
            <td th:text="${staff.email}"></td>
            <td>
                <div th:if="${adminRole}">
                    <a th:href="@{/staffs/edit/{id}(id=${staff.id})}"
                       class="btn btn-warning">Edit</a>
                    <a th:href="@{/staffs/{id}(id=${staff.id})}"
                       class="btn btn-danger">Delete</a>
                </div>



            </td>
        </tr>
        </tbody>

    </table>

</div>


</body>
</html>